[submodule "src/lodepng"]
	path = src/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "Google_tests"]
	path = Google_tests
	url = https://github.com/google/googletest.git
	shallow = true
